---
layout: default
title: Publications
weight: 4
permalink: /blog/
---

<!-- Fine Circle Responsive Image -->
<div id="container" class="my-2" style="text-align: center;">
  <img src="{{ site.author.image }}"
        alt="{{ site.title }}"
        class="circle-image wow animated zoomIn"
        data-wow-delay=".1s"
        style="width: 150px;">
</div>

<div style="text-align: center;">
  <a href='https://files.evias.be/CV.pdf' target="_blank">
    <img alt='Download my CV' src='https://img.shields.io/badge/Download_my CV-100000?style=for-the-badge&logo=Download my CV&logoColor=white&labelColor=0786E1&color=0786E1'/>
  </a>
  <a href='https://calendly.com/evias-services' target="_blank">
    <img alt='Jump on a call' src='https://img.shields.io/badge/Jump_on a call-100000?style=for-the-badge&logo=Jump on a call&logoColor=white&labelColor=00C781&color=00C781'/>
  </a>
  <a href='https://www.freelancer.com/u/ubcdigital' target="_blank">
    <img alt='Hire me on Freelancer' src='https://img.shields.io/badge/Hire_me on Freelancer-100000?style=for-the-badge&logo=Hire me on Freelancer&logoColor=white&labelColor=00C781&color=00C781'/>
  </a>
  <a href='https://github.com/evias' target="_blank">
    <img alt='View my Github' src='https://img.shields.io/badge/View_my Github-100000?style=for-the-badge&logo=View my Github&logoColor=white&labelColor=F1C40F&color=F1C40F'/>
  </a>
</div>

{% include blog/search.html %}
{% include blog/index.html %}
